#imgbox{
   height:100vh;
   width:100%;

}

#imgbox img{
    width:100%;
    height:100vh;
    object-fit: cover;
    background-attachment:fixed;

}
#pc{
    position:relative;
    bottom:400px;

}
#P1{
    position: relative;
    bottom:70%;
}
#rm1{
    border-radius:50%;
    width:70px;
}
#navig{
    
}
#section{
    background:url(photo.jpg);
    object-fit:cover;
    width:100%;
    background-attachment:fixed;
    background-repeat:no-repeat;
    padding:40px;
    
}
.logo-track img{
    width:60px;
    height:45px;
    border-radius:50%;

}
.logo-slider{
    overflow:hidden;
    background:#f9f8fa;
    padding:75px 0;
}
.logo-track{
    display: flex;
    gap:70px;
    animation: scroll 20s linear infinite;
}
@keyframes scroll{
    from { transform: translateX(0); }
  to { transform: translateX(-30%); }
}
.logo-track img{
    opacity:0.6;
    cursor:pointer;
}
.logo-track img:hover{
    opacity:1;
}
#t img{
    width:50px;
    height:45px;
}
#box1{
    position:relative;
    padding:35px;
    
}
#icondiv{
    padding:80px;
}
